@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom Colors */
  --orange-primary: #ff5c00;
  --orange-secondary: #ff8a00;
  --orange-opacity: rgba(255, 92, 0, 0.8);
  --orange-soft: #fff4d7;

  --yellow-primary: #ffb800;
  --yellow-opacity: rgba(255, 184, 0, 0.7);

  --white-primary: #ffff;
  --white-opacity: rgba(255, 255, 255, 0.8);

  --black-opacity: rgba(0, 0, 0, 0.8);

  --gray-opacity: rgba(0, 0, 0, 0.3);

  --pink: #f46464;
}

@layer components {
  body {
    @apply bg-orange-soft;
  }

  header {
    @apply bg-white-primary w-full h-auto shadow-white sticky top-0
  }
}
